<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reydit</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Reydit</h1>
        </div>
        <div id="main">
            <div id="sidebar-left">
                <div class="sidebar-block">
                    <p>User Panel</p>
                    @if(Reydit.Models.User.IsLoggedIn)
                    {
                        if (Reydit.Models.User.CurrentUser != null)
                        {
                            <p>@Reydit.Models.User.CurrentUser.Username</p>
                        }
                        @Html.ActionLink("Log Out", "LogOut", "User")
                    }
                    else
                    {
                        using (Html.BeginForm("LogIn", "User", FormMethod.Post))
                        {
                            <p>Username:</p>
                            <input type="text" name="username" />
                            <p>Password:</p>
                            <input type="password" name="password" />
                            <input type="submit" />
                            <hr />
                            @Html.ActionLink("Register Now", "Register", "User")
                        }
                    }
                </div>
            </div>
            <div id="content">
                @RenderBody();
            </div>
            <div id="sidebar-right">

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>